/* Input Styles */
.inputCustom {
    border-radius: .215rem;
    width: calc(100% - 2rem);
    display: inline-block;
    box-shadow: none;
    border: 1px solid #e4eaec;
    font-size: 1rem;
    line-height: 1.5;
    padding: .5rem 1rem;
}

.inputContainer{
    width: 100%;
    margin-bottom: 1.5rem;
}

/* Button Styles */
.btn {
    text-align: center;
    border-radius: .215rem;
    font-weight: 400;
    text-align: center;
}

.lgBtn {
    height: 2.5rem;
    padding: .5rem 1rem;
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
}

.smBtn {
    height: 1.5rem;
    width: 30%;
    font-weight: 400;
    font-size: 12px;
}
  
.primaryBtn {
    color: #fff;
    background-color: #2e72b0;
    border-color: #2e72b0;
    box-shadow: none;
}

/* Page Container Styles */
.pageHeaderContainer {
    margin: 0rem 1rem 0rem 1rem;
    margin-top: 5%;
    padding-left: 1rem;
    border-bottom: 1px solid rgb(136, 134, 134);
}

/* New Post Component */
.newPostContainer {
    min-height: 10%;
    max-height: 30%;
    border: 1px solid rgb(136, 134, 134);
    border-radius: 10px;
    padding: 1rem;
    margin: 10px 0px 10px 0px;
}

.newPostTextArea {
    font-size: 1rem;
    width: 100%;
    border-color: Transparent;
    resize: none;
}

.newPostTextFooter {
    display: flex;
    justify-content: space-around;
}

/* Post container Styles */
.postContainer {
    max-height: 20%;
    border: 1px solid rgb(136, 134, 134);
    border-radius: 10px;
    padding: 1rem;
    margin: 10px 0px 10px 0px;
}

.postHeaderName {
    font-weight: bold;
}

.postComment {
    font-style: italic;
}

.reactionsContainer {
    display: flex;
    justify-content: space-around ;
}

.reactionLikeWrapper {
    display: flex;
    justify-content: space-between;
    width: 16%;
}

.reactionShareWrapper {
    display: flex;
    justify-content: space-between;
    width: 18%;
}

/* Home Page  */
.homeBodyLeftContainer {
    display: inline-block;
    width: 60%;
    padding-left: 10%;
}

.homeBodyRightContainer {
    display: inline-block;
    position: fixed;
    padding: 0% 2% 0% 2%;
    width: 25%;
}

.homePagelet {
    margin-top: 10px;
    border: 1px solid rgb(211,211,211);
}

.homePageletHeader {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid rgb(211,211,211);
}

/* Media Queries Start */
@media only screen and (max-width: 1200px) {
    .reactionLikeWrapper {
        width: 18%;
    }
    
    .reactionShareWrapper {
        width: 20%;
    }
}

@media only screen and (max-width: 1140px) {
    .reactionLikeWrapper {
        display: flex;
        justify-content: space-between;
        width: 20%;
    }
    
    .reactionShareWrapper {
        display: flex;
        justify-content: space-between;
        width: 22%;
    }
}

@media only screen and (max-width: 920px) {
    .reactionsContainer {
        font-size: 12px;
    }

    .reactionLikeWrapper {
        width: 20%;
    }
    
    .reactionShareWrapper {
        width: 22%;
    }
}

@media only screen and (max-width: 750px) {
    .reactionsContainer {
        font-size: 12px;
    }

    .postComment {
        font-size: 14px;
    }

    .reactionLikeWrapper {
        width: 24%;
    }
    
    .reactionShareWrapper {
        width: 28%;
    }
}