.headerStyle {
    height: 5%;
    width: 100%;
    border:  1px solid black;
    background-color: #00BFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .linkStyles {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .linkStyles:hover {
      color: black;
  }